{% load static %}

<div class="input-group">
    {{ widget }}
    <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#teamSearchModal">
            <i class="fas fa-search"></i> Buscar
        </button>
    </div>
</div>

<!-- Modal para la búsqueda del equipo -->
<div class="modal fade" id="teamSearchModal" tabindex="-1" role="dialog" aria-labelledby="teamSearchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teamSearchModalLabel">Buscar Equipo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Aquí va tu formulario de búsqueda de equipos -->
        <!-- Puedes usar un campo de entrada y un botón de envío -->
      </div>
    </div>
  </div>
</div>