<!-- Hereda de plantilla principal -->
{% extends 'base/base.html' %}

<!-- Carga archivos estaticos -->
{% load static %}

{% block content %}

<main class="container mx-auto h-screen flex flex-col justify-center items-center gap-12">

    <h1 class="font-exo text-6xl text-center">Ingreso de estudiante</h1>

    <form method="post" class="w-2/3 flex flex-col gap-3">{% csrf_token %}


        <div class="flex flex-col gap-1 mb-6 xl:mb-0">
            <label class="font-exo text-base font-semibold text-gray-500">{{ form.rut.label }}</label>
            {{ form.rut }}
        </div>

        <input type="submit" value="Registrar"
            class="mt-5 px-10 py-4 text-center text-lg outline outline-1 outline-gray-400 font-rale bg-indigo-500 text-white  transition-all duration-300">

        <a href="{% url 'attendance_app:student' %}"
            class="mt-8 px-10 py-4 text-center text-lg outline outline-1 outline-gray-400 text-white font-rale bg-green-600  transition-all duration-300">
            Borrar</a>

    </form>

    <div>
        {% if messages %}

        {% for message in messages %}

        {% if message.tags == "success" %}

        <script>
            Swal.fire({
                title: 'Éxito',
                text: '{{ message }}',
                icon: 'success',
                confirmButtonText: 'Cerrar'
            });
        </script>

        {% elif message.tags == "error" %}

        <script>
            Swal.fire({
                title: 'Error',
                text: '{{ message }}',
                icon: 'error',
                confirmButtonText: 'Cerrar'
            });
        </script>

        {% elif message.tags == "info" %}

        <script>
            Swal.fire({
                title: 'Info',
                text: '{{ message }}',
                icon: 'info',
                confirmButtonText: 'Cerrar'
            });
        </script>

        {% endif %}

        {% endfor %}

        {% endif %}

    </div>

</main>



{% endblock content %}